.crossword{
    background-color: #d9f0fa;
    padding: 20px;
    float: left;
    *{
        box-sizing: border-box;
    }
    *:after, *:before{
        box-sizing: border-box;
    }
    &-row{
        display: block;
        user-select: none;

        &.active{
            .tile{
                &.number{
                    span{
                        color: #fff;
                        background: #31c5ff;
                        box-shadow: 0px 0px 8px 0px rgba(49, 197, 255, 1);
                    }
                }
                &.input{
                    background-color: #fff;

                    &.pass{
                        background-color: transparent;
                    }
                }
            }
        }

        &:hover{
            .tile.hint{
                opacity: 1;
                pointer-events: all;
            }
        }
    }
    .tile{
        width: 44px;
        height: 44px;
        display: inline-block;
        vertical-align: top;
        margin: 2px;
        transition: 0.2s ease all;

        &.placeholder{
            // background: #f7f7f7;
        }

        &.hint{
            text-align: center;
            line-height: 40px;
            cursor: pointer;
            opacity: 0;
            // pointer-events: none;

            span{
                transition: 0.2s ease all;
                font-size: 13px;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e93d8f+0,ff7ab9+100 */
                background: #e93d8f; /* Old browsers */
                background: -moz-linear-gradient(45deg, #e93d8f 0%, #ff7ab9 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(45deg, #e93d8f 0%,#ff7ab9 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(45deg, #e93d8f 0%,#ff7ab9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e93d8f', endColorstr='#ff7ab9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                color: #fff;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                display: inline-block;
                vertical-align: middle;
                line-height: 20px;
            }
        }

        &.number{
            text-align: center;
            line-height: 40px;

            span{
                transition: 0.2s ease all;
                font-size: 13px;
                background: rgba(146, 224, 255, 1);
                box-shadow: 0px 0px 8px 0px rgba(146, 224, 255, 1);
                color: #22aee6;
                border-radius: 50%;
                width: 22px;
                height: 22px;
                display: inline-block;
                vertical-align: middle;
                line-height: 22px;
            }
        }

        &.input{
            background: transparent;
            border: 2px solid #546886;
            text-align: center;
            border-radius: 8px;
            outline: none;
            font-size: 25px;
            color: #546886;
            background: transparent;

            &.pass{
                border-color: #e93d8f;
            }

            &.active{
                background: rgba(146, 224, 255, 1);
                box-shadow: 0px 0px 10px 0px rgba(146, 224, 255, 1);

                &.pass{
                    background: transparent;
                    box-shadow: 0px 0px 10px 0px rgba(233, 61, 141, 1);
                }
            }

            &.invalid{
                background-color: #ffe9f4!important;
            }
        }
    }
}